.vote-form-container {
  padding: 2rem 0;
  background-color: #f8f8f8;
}

.vote-card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 16px;
}

.vote-card-content {
  border-radius: 16px;
  background-color: #fff;
}

.form-title {
  color: #333;
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.vote-form {
  .mat-mdc-form-field {
    .mat-mdc-form-field-subscript-wrapper {
      margin-top: 4px;
    }
  }
}

.submit-btn {
  height: 56px;
  font-weight: 500;
  text-transform: none;
  font-size: 14px;
}

::ng-deep {
  .mat-mdc-form-field-outline {
    border-radius: 4px;
  }
  
  .mat-mdc-raised-button {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
}

.icon-text {
  display: flex;
  align-items: center; /* alinea verticalmente */
  gap: 8px;            /* espacio entre ícono y texto */
}

.check-ok {
  width: 24px;
  height: 24px;
  color: #3fde92;
}

.message-container {
  display: flex;
  align-items: center; /* centra horizontalmente */
  gap: 8px;            /* espacio entre ícono y texto */
}

mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-text {
  margin: 0;
  line-height: 1.2;
}

.mat-mdc-fab {
    color: black;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: var(--mdc-fab-container-shape, var(--mat-app-corner-large));
    box-shadow: var(--mdc-fab-container-elevation-shadow, var(--mat-app-level3));
}

.mat-mdc-fab.mat-mdc-button-disabled {
  border: 1px solid transparent;
}

.submit-btn {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.submit-btn:hover:not(:disabled) {
  background-color: #000 !important;
  color: #fff !important;
  cursor: pointer;
}